/********* Defect Dashboard ************/

html, body {
    height: 100%; /* Make sure it's not set to 100vh which might cut off if content is taller */
    overflow-y: auto; /* Enables vertical scrolling if needed */
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
}

h1.centered {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    text-align: center;
}

.job-board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.job-board-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 70px;
    gap: 20px;
    /* border: 1px solid black; */
}

.job-board-table {
    width: 100%;
    max-height: 600px;  /* Set the maximum height to whatever suits your design */
    overflow-y: auto;   /* Enables vertical scrolling */
    border: 1px solid #ccc;  /* Optional: adds a border around the table container */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

#order-table th {
    cursor: pointer;
}

#order-table td {
    white-space: pre-wrap; /* CSS property to preserve whitespace */
}

.job-board-display  table {
    width: 100%;
    border-collapse: collapse;
}

.job-board-display  th, .job-board-display  td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.job-board-display  th {
    background-color: #f2f2f2;
}
