/* index style*/


* {
    box-sizing: border-box;
}

.index-page body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.index-page .header {
    background-color: #696969;
    border-bottom: 0px solid black;
    color: #fff;
    padding-left: 5px;
    height: 50px;
    width: 100%;
    min-width: auto;
    display: flex;
    justify-content: flex-start;
}    

.index-page .header figure img{    
    height: 50px;
}

.index-page .container {
    display: flex;
    height: calc(100% - 50px); /* Adjust height to account for header */
}

.index-page .sidebar {
    min-width: 170px;
    background-color: #969191;
    color: #fff;
    margin: 0;
    padding: 0px;
    height: 100%;
    flex-basis: 200px;
}

.index-page .sidebar ul {
    list-style: none;
    margin: 0; /* Remove default margin from ul */
    padding: 0; /* Remove default padding from ul */            
}

.index-page .sidebar a {
    display: block;
    color: black;
    padding: 16px 20px;
    text-decoration: none;
    text-align: center;
}

.index-page .sidebar a:hover:not(.active) {
    background-color: #1a3d80;
    color: white;
}

.index-page .sidebar a.active {
    background-color: #e2e2e2;
    color: #1a3d80;
    font-weight: bold;
}

.index-page .main-content {
    width: calc(100% - 170px);
    min-width: 200px;
    max-height: 100%;
    flex-grow: 1;
    background-color: #e2e2e2;
    overflow: auto;
}
.index-page .content {
    max-width: 100%;
    max-height: 100%;
    padding: 0px;
}

#content {
    display: none; /* Hide the content area by default */
}


