
/********* Order Dashboard ************/
html, body {
    height: 100%; /* Make sure it's not set to 100vh which might cut off if content is taller */
    overflow-y: auto; /* Enables vertical scrolling if needed */
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
}

.machining-dashboard {
    display: flex;
    flex-direction: column;
}

.title-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.page-name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    text-align: center;
    /* border: 1px dotted black; */
}

.input-fields {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.order-input input {
    border: 1px solid black;
    border-radius: 3px;
    width: 15ch;
    /* background-color: white; */
}

.total-row {
    display: flex;
    justify-content: center;
}

.data-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid red;
    margin: 10px;
    padding: 5px;
    gap: 75px;
}

.machine-group {
    display: flex;
    flex-shrink: 1;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    /* border: 1px solid orange; */
    padding: 0px;
    gap: 15px;
}

.machine-row {
    display: flex;    
    flex-direction: column;
    flex-basis: 25ch;
    justify-content: flex-start;
    border: 1px dotted blue;
    padding: 0px;
    gap: 5px;
}
.machine-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5%;
    border: 3px solid grey;
    padding: 0px;
    gap: 5px;
}

.machine-container.has-parts {
    border: 3px solid  black;
    background-color: #969191;  /* Or any color you prefer */
}

.hidden {
    display: none;
}

.machine-container section {
    display: flex;
    flex-direction: column;    
    /* min-width: 210px; */
    border: 1px solid grey; 
    padding: 5px;
    gap: 20px; 
}

/* .machine-container label{
    white-space: nowrap;
} */

.machine-name, .part-count {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

