html, body {
    height: 100%; /* Make sure it's not set to 100vh which might cut off if content is taller */
    overflow-y: auto; /* Enables vertical scrolling if needed */
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
}

.title-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.page-name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    text-align: center;
    /* border: 1px dotted black; */
}

.production-dashboard {
    display: flex;
    flex-direction: column;
    /* border: 2px dotted purple; */
    padding: 10px;
}


.input-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    /* border: 1px solid red; */
    min-height: 70px;
}

.data-submition {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    margin-bottom: 15px;
    gap: 10px 30px;
    padding-bottom: 10px;
}

.data-submition input {
    width: 100px;
}

#barcode {
    width: 125px;
}

.data-submition input, select{
    border: 1px solid black;
    border-radius: 3px;
    appearance: auto;
}

.data-submition {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px 50px;
    /* border: 2px solid lime; */
    padding: 10px;
}

.data-submition div {
    display: flex;
    flex-direction: column; 
    /* border: 2px dotted purple; */
    padding: 10px;
}

.message-display {
    display: flex;
}

.display-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    /* border: 2px dotted orange; */
    padding: 10px;
    height: 300px;
}

.notification-display {
    display: flex;
    flex-direction: column;
    border: 1px dotted black;
    padding: 10px;
    margin-bottom: 30px;
    width: 30ch;
    row-gap: 10px;
}

#notification-list ul {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 10px; /** Provides padding around the list **/      
}

#notification-list li {
    display: flex;
    flex-direction: column;
    row-gap: 0px; /** Space between rows**/
    padding: 5px; /** Padding inside each list item**/
    /* border-bottom: 1px solid red;*/ /* Divider between items* */
    border-radius: 5px; /** Rounded corners**/
    margin-bottom:0px; /**Margin at the bottom of each item**/
    background: #f4f4f4; /** Light grey background**/
}

#notification-list li:last-child {
    border-bottom: none; /**Removes border from the last item**/
}



/* .data-display {
    display: flex;
    flex-direction: column;
    /* border: 1px dotted black; */
    /* padding: 10px;
    width:  30ch;
    row-gap: 30px;
}  */

.data-type-container {
    display: flex;
    flex-direction: column;
    height: 300px;
    border: 1px dotted black;
    padding: 10px;
    margin-bottom: 30px;
    width:  30ch;
    row-gap: 30px;
}

.data-types {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    row-gap: 20px;
}

.partcount-workarea, .partcount-employee, .past-scans {
    display: flex;
    justify-content: space-between;
    gap: 35px;
}

.job-list {
    display: flex;
    flex-direction: column;
}

.order-data-container {
    display: flex;
    flex-direction: column;
    height: 300px;
    border: 1px dotted black;
    padding: 10px;
    margin-bottom: 30px;
    width:  30ch;
    row-gap: 30px;
}

.order-data-types {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    row-gap: 20px;
}

.ordercount-area, .ordercount-total-area, .ordercount-total-order{
    display: flex;
    justify-content: space-between;
    gap: 35px;
}