html, body {
    height: 100%; /* Make sure it's not set to 100vh which might cut off if content is taller */
    overflow-y: auto; /* Enables vertical scrolling if needed */
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
}

.notification-dashboard {
    padding: 10px;
    margin: 10px;
}

.input-fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.data-submission {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.data-submission div input {
    border: 1px solid darkgray;
    border-radius: 3px;
    background-color: white;
}

.data-submission div select {
    border: 1px solid darkgray;
    background-color: white;
    border-radius: 3px;
    appearance: auto;
}

.notification-header {
    display: flex;
    justify-content: center;
    /* border: 1px solid blue; */
}

.notification-header div {
    display: flex;
    /* border: 2px dotted black; */
}

.input-boxes {
    display: flex;
    flex-direction: column;
    width: 45ch;
    /* border: 1px solid red;  */
    gap: 12px; 
}

.input-boxes > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid blue; */
}

.input-boxes div label {
    text-align: center;
    /* border: 1px dotted black; */
}  

.input-boxes div input,
.input-boxes div select {
    min-width: 25ch;
    width: auto; 
}

.notification-body {
    display: flex;
    justify-content: center;
}

.notification-body div{
    display: flex;
    flex-direction: column;
    flex-basis: content;
    justify-content: center;
    /* border: 1px solid red; */
}    

#notification-detail {
    width: 45ch;
    min-width: 25ch;
    border: 1px solid darkgray;
    background-color: white;
}

/* Styles for the submit button */
.notification-body button {
    background-color: #969191; /* Bright blue background */
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: block; /* Makes the button block-level to take up full width */
    width: 100%;
    margin-top: 15px; /* Adds space between textarea and button */
    transition: background-color 0.3s,  color 0.3s; /* Smooth transition for hover effect */
    text-align: center; /* Ensures text is centered horizontally */
    line-height: normal; /* Default line height to ensure vertical centering */
}

.notification-body button:hover {
    background-color: #1a3d80; /* Darker blue on hover */
    color: white;
}

.message-display {
    display: flex;
    justify-content: center;
}

.notification-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    /* border: 2px dotted orange; */
    padding: 10px;
    min-height: 300px;
}

.notification-display {
    display: flex;
    flex-direction: column;
    border: 1px dotted black;
    padding: 10px;
    margin-bottom: 30px;
    width: 45ch;
    row-gap: 10px;
}

#notification-list ul {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 10px; /** Provides padding around the list **/   
    
}

#notification-list li {
    display: flex;
    flex-direction: column;
    row-gap: 0px; /** Space between rows**/
    padding: 8px; /** Padding inside each list item**/
    /* border-bottom: 1px solid red;*/ /* Divider between items* */
    border-radius: 5px;
    margin-bottom: 5px; /**Margin at the bottom of each item**/
    background: #f4f4f4; /** Light grey background**/

    cursor: pointer;
    transition: background-color 0.3s ease;
}

#notification-list li:hover {
    background-color: #c2c0c0;  /* Light grey background on hover */
}

#notification-list li p:last-child {
    margin-top: 10px;
    /* border-bottom:1px solid red; *Removes border from the last item* */
}