html, body {
    height: 100%; /* Make sure it's not set to 100vh which might cut off if content is taller */
    overflow-y: auto; /* Enables vertical scrolling if needed */
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
}

.notification-dashboard {
    padding: 10px;
}

.input-fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.data-submission {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.data-submission div input {
    border: 1px solid darkgray;
    background-color: white;
}

.notification-header {
    display: flex;
    justify-content: center;
    /* border: 1px solid blue; */
}

.notification-header div {
    display: flex;
    justify-content: right;
    /* border: 2px dotted black; */
}

.input-boxes {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.notification-body {
    display: flex;
    justify-content: center;
}

.notification-body div{
    display: flex;
    flex-direction: column;
    flex-basis: content;
    justify-content: center;
    /* border: 1px solid red; */
}    

#notification-detail {
    width: 50ch;
    border: 1px solid darkgray;
    background-color: white;
}

.message-display {
    display: flex;
    justify-content: center;
}