<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="templates/css/assembly_order_dashboard.css">
    
    
    <title>Document</title>
</head>
<body class="order-dashboard">
    <section class="title-info">
        <div class="page-name">
            <span>Assembly Order Status</span>
        </div>        
    </section>
    <section class="input-fields">
        <div class="order-input" id="orderForm">            
            <label for="order-id">Order ID:</label>
            <input type="text" name="order-info" id="order-id">
        </div>
        <!-- <div class="packlist-button">
            <button type="button" id="generate-packlist">Itemized Packing List</button>
        </div>
        <div class="packlist-button2">
            <button type="button" id="generate-packlist2">Consolidated Packing List</button>
        </div> -->
    </section>
    <section class="total-row">                  
            <div class="machine-container" id="order-total">
                <div class="total-name">
                    <p>All parts for order</p>            
                </div>
                <div class="article-count">
                    <p>Total count:</p>
                    <p id="part-count-Total">0</p>
                </div>
                <div class="run-time-container all">
                    <div class="run-time">
                        <p>Assembly Time:</p>                               
                    </div>
                    <div class="times">
                        <p id="up-time-TotalTime">0</p>
                    </div>                            
                </div>  
            </div>
    </section>
    <section class="data-display">
    <!-- Work Areas -->
        <section class="workarea-group">            
            <section class="workarea-row">
                <div class="workarea-container as1" id="workarea-AS1">
                    <section class="as1-container">
                        <div class="workarea-name">
                            <p>LB Assembly</p>
                            <p>[AS1]</p>            
                        </div>
                        <div class="article-count">
                            <p>Progress:</p>                            
                            <p><span id="current-count-AS1">0</span> of <span id="article-count-AS1">0</span></p>                            
                        </div>
                        <div class="progressbar-container">
                            <progress id="progress-bar-AS1" value="0" max="100"></progress>
                            <span id="progress-text-AS1">0%</span>
                        </div> 
                        <div class="run-time-container as1">
                            <div class="assembly-time">
                                <p>Assembly Time:</p>                               
                            </div>
                            <div class="times">
                                <p id="assembly-time-AS1">0 hrs</p>
                            </div>                            
                        </div>                         
                    </section>
                </div>
                <div class="workarea-container as2" id="workarea-AS2">
                    <section class="as2-container">
                        <div class="workarea-name">
                            <p>Solid Surface</p>
                            <p>[AS2]</p>            
                        </div>
                        <div class="article-count">
                            <p>Progress:</p>
                            <p><span id="current-count-AS2">0</span> of <span id="article-count-AS2">0</span></p>
                        </div>
                        <div class="progressbar-container">
                            <progress id="progress-bar-AS2" value="0" max="100"></progress>
                            <span id="progress-text-AS2">0%</span>
                        </div>
                        <div class="run-time-container as2">
                            <div class="assembly-time">
                                <p>Assembly Time:</p>                               
                            </div>
                            <div class="times">
                                <p id="assembly-time-AS2">0 hrs</p>
                            </div>                            
                        </div>   
                    </section>  
                </div>
                <div class="workarea-container as5" id="workarea-AS5">
                    <section class="as5-container">
                        <div class="workarea-name">
                            <p>Additional</p>
                            <p>[AS5]</p>            
                        </div>
                        <div class="article-count">
                            <p>Progress:</p>
                            <p><span id="current-count-AS5">0</span> of <span id="article-count-AS5">0</span></p>
                        </div> 
                        <div class="progressbar-container">
                            <progress id="progress-bar-AS5" value="0" max="100"></progress>
                            <span id="progress-text-AS5">0%</span>
                        </div>
                        <div class="run-time-container as5">
                            <div class="assembly-time">
                                <p>Assembly Time:</p>                               
                            </div>
                            <div class="times">
                                <p id="assembly-time-AS5">0 hrs</p>
                            </div>                            
                        </div> 
                    </section>
                </div> 
                <div class="workarea-container as6" id="workarea-AS6">
                    <section class="as6-container">
                        <div class="workarea-name">
                            <p>SB Assembly</p>
                            <p>[AS6]</p>            
                        </div>
                        <div class="article-count">
                            <p>Progress:</p>
                            <p><span id="current-count-AS6">0</span> of <span id="article-count-AS6">0</span></p>
                        </div> 
                        <div class="progressbar-container">
                            <progress id="progress-bar-AS6" value="0" max="100"></progress>
                            <span id="progress-text-AS6">0%</span>
                        </div>
                        <div class="run-time-container as6">
                            <div class="assembly-time">
                                <p>Assembly Time:</p>                               
                            </div>
                            <div class="times">
                                <p id="assembly-time-AS6">0 hrs</p>
                            </div>                            
                        </div> 
                    </section>
                </div>                 
            </section>                       
        </section>                
    </section>
    <section class="missing-part-display">
        <div class="notification-display">
            <p>Notifications:</p>
            <div id="notification-list">
                 <!-- <ul>Dynamically created by JS</ul>-->
            </div>            
        </div>
        <div>
            <span>Article Not Scanned By Area</span>
            <!-- <button type="button" id="not-scanned-parts">Parts Not Scanned By Group</button> -->
        </div>
        <div class="missing-parts-table">
            <table id="parts-table">
                <thead>
                    <tr>
                        <th class="part-barcode">Barcode</th>
                        <th>Part Program</th>
                        <th>Description</th>
                        <th>Routing</th>
                        <th>Last Scan</th>
                        <th>Last Scan Time</th>
                </thead>
                <tbody id="table-body">
                    <!-- Data rows will be added here dynamically -->
                </tbody>
            </table>
        </div>
    </section>
<script src="templates/global.js"></script>    
<script src="templates/assemblyOrderDashboardEventHandlers.js"></script>

</body>
</html>