<!DOCTYPE html>


<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>XMES</title>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <script src="templates/EventListenerManager.js"></script> <!-- Load this first -->
  <!-- Favicon link -->
  <link rel="icon" type="image/png" href="/assets/favicon.ico">
  <link rel="stylesheet" type="text/css" href="templates/css/reset.css">
  <link rel="stylesheet" type="text/css" href="templates/css/main.css">
 
</head>
<body class ="index-page">
<div class="header">
    <figure>
        <img src="/assets/XMES_Logo_380x100.png" alt="XMES Logo">
    </figure>   
</div>
<div class="container">
    <div class="sidebar">
        <div class="top">
            <div class="logo">
                <i class="bx bxl-codepen"></i>
                <span>Navigation</span>
            </div>
            <i class="bx bx-menu" id="btn"></i>
        </div>
        <ul>
            <!-- <li>
                <a href="javascript:loadContent('/home')">
                    <i class='bx bx-home-alt-2' ></i>
                    <span class="nav-item">Home</span>
                </a>
                <span class="tooltip">Home</span>
            </li> -->
            <li>
                <a href="javascript:loadContent('/production')">
                    <i class='bx bx-clipboard'></i>
                    <span class="nav-item">Production</span>
                </a>
                <span class="tooltip">Production</span>
            </li>
            <li>
                <a href="javascript:loadContent('/machine-dashboard')">
                    <i class='bx bx-bar-chart-alt-2'></i>
                    <span class="nav-item">Machine Status</span>
                </a>
                <span class="tooltip">Machine Status</span>
            </li>
            <li>
                <a href="javascript:loadContent('/notification')">
                    <i class='bx bx-message-alt-edit'></i>
                    <span class="nav-item">Notifications</span>                    
                </a>
                <span class="tooltip">Notifications</span>
            </li>
            <li>
                <a href="javascript:loadContent('/order-dashboard')">
                    <i class='bx bx-receipt'></i>
                    <span class="nav-item">Orders</span>                    
                </a>
                <span class="tooltip">Orders</span>
            </li>
        </ul>
    </div>
    <div class="main-content">
        <div class="content" id="content">
            <h3>Content Body</h3>
            <p>This is the content of Index.</p>            
        </div>
    </div>
</div>
    <script src="templates/global.js"></script>
    <script src="templates/dynamicContentLoader.js"></script>
</body>
<script>
    let btn = document.querySelector('#btn')
    let sidebar = document.querySelector('.sidebar')
    
    btn.onclick = function () {
        sidebar.classList.toggle('active')
    };
</script>
</html>
