<!DOCTYPE html>


<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>XMES</title>
  <!-- Favicon link -->
  <link rel="icon" type="image/png" href="/assets/favicon.ico">
  <link rel="stylesheet" type="text/css" href="templates/css/reset.css">
  <link rel="stylesheet" type="text/css" href="templates/css/main.css">
  <link rel="stylesheet" type="text/css" href="templates/css/machine_dashboard.css">
 
</head>
<body onload="loadLastContent()" class ="index-page">
<div class="header">
    <figure>
        <img src="/assets/XMES_Logo_380x100.png" alt="XMES Logo">
    </figure>    
</div>
<div class="container">
    <div class="sidebar">
        <ul>
            <!-- <li><a href="javascript:loadContent('/home')">Home</a></li> -->
            <li><a href="javascript:loadContent('/production')">Production</a></li>
            <li><a href="javascript:loadContent('/link2')">Machine Dashboard</a></li>
            <li><a href="javascript:loadContent('/link3')">Submit Notification<br>WIP</a></li>
        </ul>
    </div>
    <div class="main-content">
        <div class="content" id="content">
            <h3>Content Body</h3>
            <p>This is the content of Index.</p>            
        </div>
    </div>
</div>
    <script src="templates/global.js"></script>     
    <script src="templates/machineDashboardEventHandlers.js"></script>
    <script src="templates/productionDashboardEventHandlers.js"></script>
    <script src="templates/dynamicContentLoader.js"></script>
</body>
</html>
