<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="templates/css/job_board.css">    
    <title>Defects</title>
</head>
<body class="job-board">    
    <h1 class="centered">
        <span class="title">Job Board</span>
    </h1>
    <section class="job-board-container">
      
        <section class="job-board-display">
            <div class="job-board-table">
                <table id="order-table">
                    <thead>
                        <tr>
                            <th>OrderID</th>
                            <th>PSZ</th>
                            <th>TRZ</th>
                            <th>EBZ</th>
                            <th>PRZ</th>
                            <th>HRZ</th>
                            <th>HDZ</th>
                            <th>GMZ</th>
                            <th>PBZ</th>
                            <th>SCZ</th>                            
                        </tr>
                    </thead>
                    <tbody id="table-body">
                        <!-- Data rows will be added here dynamically -->
                    </tbody>
                </table>
            </div>
        </section>
    </section>    
    <script src="templates/global.js"></script>   
</body>
</html>