<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="templates/css/machine_dashboard.css">
    
    
    
    <title>Document</title>
</head>
<body class="machining-dashboard">
    <section class="title-info">
        <div class="page-name">
            <span>Machine Status</span>
        </div>        
    </section>
    <section class="input-fields">
        <form class="machdash-date-selection" id="dateForm">            
            <div class="date-options">
                <div>
                <input type="radio" id="today" name="date-range" value="today" checked>
                <label for="today">Today</label>
                </div>
                 
                <div>
                <input type="radio" id="week" name="date-range" value="week">
                <label for="week">This Week</label>
                </div>   
                
                <div>
                <input type="radio" id="month" name="date-range" value="month">
                <label for="month">This Month</label>
                </div>
            </div>
            <div class="date-range">
                <input type="radio" id="custom" name="date-range" value="custom">
                <label for="custom">Date Range</label>

                <!-- Hidden inputs for today's date -->
                <input type="hidden" id="today-start-date" name="start-date">
                <input type="hidden" id="today-end-date" name="end-date">

                <!-- Visible inputs for custom date range -->

                <input type="date" id="start-date" name="start-date" disabled>
                <label for="start-date"> to </label>
                <input type="date" id="end-date" name="end-date" disabled>
            </div>
            <div class="legend">
                <div class="green-box">
                    <span>0-5 minutes</span>
                </div>
                <div class="yellow-box">
                    <span>5-15 minutes</span>
                </div>
                <div class="red-box">
                    <span>15+ minutes</span>
                </div>            
            </div>
            <div class="batch-options">
                <div>
                <input type="radio" id="both-batch" name="batch-select" value="both" checked>
                <label for="both-batch">Both</label>
                </div>

                
                <div>
                <input type="radio" id="large-batch" name="batch-select" value="large-batch">
                <label for="large-batch">Large Batch</label>
                </div>
                 
                <div>
                <input type="radio" id="small-batch" name="batch-select" value="small-batch">
                <label for="small-batch">Small Batch</label>
                </div>                   
            </div>
        </form>
    </section>

    <section class="machdash-data-display">
    <!-- Small Batch Machines -->
        <section class="machine-batch" id="small-batch-section">
            <section class="machine-row">
                <div class="machine-container psz" id="machine-PS4">
                    <section class="psz-container">
                        <div class="machine-name">
                            <p>Panel Saw</p>
                            <p>[PS4]</p>            
                        </div>
                        <div class="part-count">
                            <p>Part Count:</p>
                            <p id="part-count-PS4">0</p>
                        </div>  
                        <div class="run-time-container psz">
                            <div class="run-time">
                                <p>Up Time</p>
                                <p>Down Time</p>                                
                            </div>
                            <div class="times">
                                <p id="up-time-PS4">0</p>
                                <p id="down-time-PS4">0</p>
                            </div>                            
                        </div>
                    </section>
                </div>
                <div class="machine-container trz" id="machine-TR3">
                    <section class="trz-container">
                        <div class="machine-name">
                            <p>Table Router</p>
                            <p>[TR3]</p>            
                        </div>
                        <div class="part-count">
                            <p>Part Count:</p>
                            <p id="part-count-TR3">0</p>
                        </div>
                        <div class="run-time-container trz">
                            <div class="run-time">
                                <p>Up Time</p>
                                <p>Down Time</p>                                
                            </div>
                            <div class="times">
                                <p id="up-time-TR3">0</p>
                                <p id="down-time-TR3">0</p>
                            </div>                            
                        </div>  
                    </section>  
                </div>
            </section>
           
            <section class="machine-row">
                <div class="machine-container ebz" id="machine-EB4">
                    <section class="ebz-container">
                        <div class="machine-name">
                            <p>Edgebander</p>
                            <p>[EB4]</p>            
                        </div>
                        <div class="part-count">
                            <p>Part Count:</p>
                            <p id="part-count-EB4">0</p>
                        </div>
                        <div class="run-time-container ebz">
                            <div class="run-time">
                                <p>Up Time</p>
                                <p>Down Time</p>                                
                            </div>
                            <div class="times">
                                <p id="up-time-EB4">0</p>
                                <p id="down-time-EB4">0</p>
                            </div>                            
                        </div>   
                    </section>
                </div>               
            </section>

            <section class="machine-row">
                <div class="machine-container prz" id="machine-PR3">
                    <section class="prz-container">
                        <div class="machine-name">
                            <p>Pod Router</p>
                            <p>[PR3]</p>            
                        </div>
                        <div class="part-count">
                            <p>Part Count:</p>
                            <p id="part-count-PR3">0</p>
                        </div>
                        <div class="run-time-container prz">
                            <div class="run-time">
                                <p>Up Time</p>
                                <p>Down Time</p>                                
                            </div>
                            <div class="times">
                                <p id="up-time-PR3">0</p>
                                <p id="down-time-PR3">0</p>
                            </div>                            
                        </div>   
                    </section>
                </div>
                <div class="machine-container hrz" id="machine-HR1">
                    <section class="hrz-container">
                        <div class="machine-name">
                            <p>Horizontal Router</p>
                            <p>[HR1]</p>            
                        </div>
                        <div class="part-count">
                            <p>Part Count:</p>
                            <p id="part-count-HR1">0</p>
                        </div>  
                        <div class="run-time-container hrz">
                            <div class="run-time">
                                <p>Up Time</p>
                                <p>Down Time</p>                                
                            </div>
                            <div class="times">
                                <p id="up-time-HR1">0</p>
                                <p id="down-time-HR1">0</p>
                            </div>                            
                        </div> 
                    </section>  
                </div>
                <div class="machine-container hdz" id="machine-HD2">
                    <section class="hdz-container">
                        <div class="machine-name">
                            <p>Horizontal Drill</p>
                            <p>[HD2]</p>            
                        </div>
                        <div class="part-count">
                            <p>Part Count:</p>
                            <p id="part-count-HD2">0</p>
                        </div>  
                        <div class="run-time-container hdz">
                            <div class="run-time">
                                <p>Up Time</p>
                                <p>Down Time</p>                                
                            </div>
                            <div class="times">
                                <p id="up-time-HD2">0</p>
                                <p id="down-time-HD2">0</p>
                            </div>                            
                        </div> 
                    </section>  
                </div>
            </section>

            <section class="machine-row">
                <div class="machine-container gmz" id="machine-GM1">
                    <section class="gmz-container">
                        <div class="machine-name">
                            <p>General Mill</p>
                            <p>[GM1]</p>            
                        </div>
                        <div class="part-count">
                            <p>Part Count:</p>
                            <p id="part-count-GM1">0</p>
                        </div>  
                        <div class="run-time-container gmz">
                            <div class="run-time">
                                <p>Up Time</p>
                                <p>Down Time</p>                                
                            </div>
                            <div class="times">
                                <p id="up-time-GM1">0</p>
                                <p id="down-time-GM1">0</p>
                            </div>                            
                        </div> 
                    </section>  
                </div>
                <div class="machine-container pbz" id="machine-PB1">
                    <section class="pbz-container">
                        <div class="machine-name">
                            <p>Pocket Boring</p>
                            <p>[PB1]</p>            
                        </div>
                        <div class="part-count">
                            <p>Part Count:</p>
                            <p id="part-count-PB1">0</p>
                        </div>  
                        <div class="run-time-container pbz">
                            <div class="run-time">
                                <p>Up Time</p>
                                <p>Down Time</p>                                
                            </div>
                            <div class="times">
                                <p id="up-time-PB1">0</p>
                                <p id="down-time-PB1">0</p>
                            </div>                            
                        </div> 
                    </section>  
                </div>
            </section>

            <section class="machine-row">
                <div class="machine-container scz" id="machine-SC2">
                    <section class="scz-container">
                        <div class="machine-name">
                            <p>Shipping / Crating</p>
                            <p>[SC2]</p>            
                        </div>
                        <div class="part-count">
                            <p>Part Count:</p>
                            <p id="part-count-SC2">0</p>
                        </div>  
                        <div class="run-time-container scz">
                            <div class="run-time">
                                <p>Up Time</p>
                                <p>Down Time</p>                                
                            </div>
                            <div class="times">
                                <p id="up-time-SC2">0</p>
                                <p id="down-time-SC2">0</p>
                            </div>                            
                        </div> 
                    </section>
                </div>            
            </section>
        </section>

    <!-- Large Batch Machines -->
        <section class="machine-batch" id="large-batch-section">
            <section class="machine-row">
                <div class="machine-container psz" id="machine-PS1">
                    <section class="psz-container">
                        <div class="machine-name">
                            <p>Panel Saw</p>
                            <p>[PS1]</p>            
                        </div>
                        <div class="part-count">
                            <p>Part Count:</p>
                            <p id="part-count-PS1">0</p>
                        </div>
                        <div class="run-time-container psz">
                            <div class="run-time">
                                <p>Up Time</p>
                                <p>Down Time</p>                                
                            </div>
                            <div class="times">
                                <p id="up-time-PS1">0</p>
                                <p id="down-time-PS1">0</p>
                            </div>                            
                        </div>  
                    </section>
                </div>
                <div class="machine-container psz" id="machine-PS2">
                    <section class="psz-container">
                        <div class="machine-name">
                            <p>Panel Saw</p>
                            <p>[PS2]</p>            
                        </div>
                        <div class="part-count">
                            <p>Part Count:</p>
                            <p id="part-count-PS2">0</p>
                        </div>
                        <div class="run-time-container psz">
                            <div class="run-time">
                                <p>Up Time</p>
                                <p>Down Time</p>                                
                            </div>
                            <div class="times">
                                <p id="up-time-PS2">0</p>
                                <p id="down-time-PS2">0</p>
                            </div>                            
                        </div>  
                    </section>
                </div>
                <div class="machine-container trz" id="machine-TR1">
                    <section class="trz-container">
                        <div class="machine-name">
                            <p>Table Router</p>
                            <p>[TR1]</p>            
                        </div>
                        <div class="part-count">
                            <p>Part Count:</p>
                            <p id="part-count-TR1">0</p>
                        </div>  
                        <div class="run-time-container trz">
                            <div class="run-time">
                                <p>Up Time</p>
                                <p>Down Time</p>                                
                            </div>
                            <div class="times">
                                <p id="up-time-TR1">0</p>
                                <p id="down-time-TR1">0</p>
                            </div>                            
                        </div>
                    </section>
                </div>
                <div class="machine-container trz" id="machine-TR2">
                    <section class="trz-container">
                        <div class="machine-name">
                            <p>Table Router</p>
                            <p>[TR2]</p>            
                        </div>
                        <div class="part-count">
                            <p>Part Count:</p>
                            <p id="part-count-TR2">0</p>
                        </div> 
                        <div class="run-time-container trz">
                            <div class="run-time">
                                <p>Up Time</p>
                                <p>Down Time</p>                                
                            </div>
                            <div class="times">
                                <p id="up-time-TR2">0</p>
                                <p id="down-time-TR2">0</p>
                            </div>                            
                        </div> 
                    </section>    
                </div>
            </section>

            <section class="machine-row">
                <div class="machine-container ebz" id="machine-EB1">
                    <section class="ebz-container">
                        <div class="machine-name">
                            <p>Edgebander</p>
                            <p>[EB1]</p>            
                        </div>
                        <div class="part-count">
                            <p>Part Count:</p>
                            <p id="part-count-EB1">0</p>
                        </div> 
                        <div class="run-time-container ebz">
                            <div class="run-time">
                                <p>Up Time</p>
                                <p>Down Time</p>                                
                            </div>
                            <div class="times">
                                <p id="up-time-EB1">0</p>
                                <p id="down-time-EB1">0</p>
                            </div>                            
                        </div> 
                    </section>
                </div>
                <div class="machine-container ebz" id="machine-EB2">
                    <section class="ebz-container">
                        <div class="machine-name">
                            <p>Edgebander</p>
                            <p>[EB2]</p>            
                        </div>
                        <div class="part-count">
                            <p>Part Count:</p>
                            <p id="part-count-EB2">0</p>
                        </div>
                        <div class="run-time-container ebz">
                            <div class="run-time">
                                <p>Up Time</p>
                                <p>Down Time</p>                                
                            </div>
                            <div class="times">
                                <p id="up-time-EB2">0</p>
                                <p id="down-time-EB2">0</p>
                            </div>                            
                        </div>  
                    </section>
                </div>
                <div class="machine-container ebz" id="machine-EB3">
                    <section class="ebz-container">
                        <div class="machine-name">
                            <p>Edgebander</p>
                            <p>[EB3]</p>            
                        </div>
                        <div class="part-count">
                            <p>Part Count:</p>
                            <p id="part-count-EB3">0</p>
                        </div> 
                        <div class="run-time-container ebz">
                            <div class="run-time">
                                <p>Up Time</p>
                                <p>Down Time</p>                                
                            </div>
                            <div class="times">
                                <p id="up-time-EB3">0</p>
                                <p id="down-time-EB3">0</p>
                            </div>                            
                        </div> 
                    </section>
                </div>                
            </section>

            <section class="machine-row">
                <div class="machine-container prz" id="machine-PR1">
                    <section class="prz-container">
                        <div class="machine-name">
                            <p>Pod Router</p>
                            <p>[PR1]</p>            
                        </div>
                        <div class="part-count">
                            <p>Part Count:</p>
                            <p id="part-count-PR1">0</p>
                        </div>  
                        <div class="run-time-container prz">
                            <div class="run-time">
                                <p>Up Time</p>
                                <p>Down Time</p>                                
                            </div>
                            <div class="times">
                                <p id="up-time-PR1">0</p>
                                <p id="down-time-PR1">0</p>
                            </div>                            
                        </div>
                    </section>
                </div>
                <div class="machine-container prz" id="machine-PR2">
                    <section class="prz-container">
                        <div class="machine-name">
                            <p>Pod Router</p>
                            <p>[PR2]</p>            
                        </div>
                        <div class="part-count">
                            <p>Part Count:</p>
                            <p id="part-count-PR2">0</p>
                        </div>  
                        <div class="run-time-container prz">
                            <div class="run-time">
                                <p>Up Time</p>
                                <p>Down Time</p>                                
                            </div>
                            <div class="times">
                                <p id="up-time-PR2">0</p>
                                <p id="down-time-PR2">0</p>
                            </div>                            
                        </div>
                    </section>
                </div>
                <div class="machine-container prz" id="machine-PR4">
                    <section class="prz-container">
                        <div class="machine-name">
                            <p>Pod Router</p>
                            <p>[PR4]</p>            
                        </div>
                        <div class="part-count">
                            <p>Part Count:</p>
                            <p id="part-count-PR4">0</p>
                        </div>  
                        <div class="run-time-container prz">
                            <div class="run-time">
                                <p>Up Time</p>
                                <p>Down Time</p>                                
                            </div>
                            <div class="times">
                                <p id="up-time-PR4">0</p>
                                <p id="down-time-PR4">0</p>
                            </div>                            
                        </div>
                    </section>
                </div>
                <div class="machine-container hdz" id="machine-HD1">
                    <section class="hdz-container">
                        <div class="machine-name">
                            <p>Horizontal Drill</p>
                            <p>[HD1]</p>            
                        </div>
                        <div class="part-count">
                            <p>Part Count:</p>
                            <p id="part-count-HD1">0</p>
                        </div>  
                        <div class="run-time-container hdz">
                            <div class="run-time">
                                <p>Up Time</p>
                                <p>Down Time</p>                                
                            </div>
                            <div class="times">
                                <p id="up-time-HD1">0</p>
                                <p id="down-time-HD1">0</p>
                            </div>                            
                        </div>
                    </section>  
                </div>
            </section>

            <section class="machine-row">                
                <div class="machine-container gmz" id="machine-GM2">
                    <section class="gmz-container">
                        <div class="machine-name">
                            <p>General Mill</p>
                            <p>[GM2]</p>            
                        </div>
                        <div class="part-count">
                            <p>Part Count:</p>
                            <p id="part-count-GM2">0</p>
                        </div> 
                        <div class="run-time-container gmz">
                            <div class="run-time">
                                <p>Up Time</p>
                                <p>Down Time</p>                                
                            </div>
                            <div class="times">
                                <p id="up-time-GM2">0</p>
                                <p id="down-time-GM2">0</p>
                            </div>                            
                        </div> 
                    </section>  
                </div>            
            </section>

            <!-- <section class="machine-row">
                                         
            </section> -->

        </section>               
    </section>

    <!-- Modal Structure -->
    <div id="machineModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="title" id="modal-machine-name"></span>
                <span class="close">&times;</span>                  
            </div>
            <section class="card-info">
                <div>
                    <div>Part Count: <span id="modal-part-count">0</span></div>
                </div>
                <div>
                    <div>Up Time: <span id="modal-up-time">0</span></div>
                </div>
                <div>
                    <div>Down Time: <span id="modal-down-time">0</span></div>
                </div>
            </section> 
            <section class="scan-info">
                <div>
                    <p>Last Scan:</p>                    
                </div>
                <div class="job-list-container">
                    <p>Jobs Scanned:</p>
                    <div class="job-list">
                        <!-- <ul>Dynamically created by JS</ul>-->
                    </div>
                </div>
            </section>                           
    </div>
    
<script src="templates/global.js"></script>    
<script src="templates/machineDashboardEventHandlers.js"></script>

</body>
</html>