<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="templates/css/production.css">    
    <title>Production</title>
</head>
<body class="production-dashboard">
    <section class="input-fields">
        <form class="data-submition">
            <div>
                <label for="employee-id">Employee ID:</label>
                <input type="text" name="scan_info" id="employee-id" required>
            </div>    
            <div>
                <label for="work-area">Work Area:</label>
                <select name="scan_info" id="work-area" required>
                </select>
            </div>    
            <div>
                <label for="customer-id">Customer ID:</label>
                <select name="scan_info" id="customer-id" required>
                </select>
            </div>    
            <div>
                <label for="order-id">Order ID:</label>
                <input type="text" value="Auto-fill" name="scan_info" id="order-id" required readyonly onfocus="enableEditing(this)">
            </div>    
            <div>
                <label for="barcode">Barcode:</label>
                <input type="text" name="scan_info" id="barcode" required>
            </div>
        </form>
        <div class="message-display">
            <p>Messages:&nbsp</p>
            <p id="status-message">Enter required fields and scan barcode.</p>
        </div>
    </section>
    <section class="display-container">
        <div class="notification-display">
            <p>Notifications:</p>
            <div id="notification-list">
                 <!-- <ul>Dynamically created by JS</ul>-->
            </div>            
        </div>
        <div class="data-display">
            <div class="data-type-container">
                <p>Data for current day:</p>
                <div class="data-types">
                    <div class="partcount-workarea">
                        <p id="partcount-area-label">Parts at WorkArea:</p>
                        <p id="partcount-area">0</p>
                    </div>            
                    <div class="partcount-employee">
                        <p>Total parts:</p>
                        <p id="partcount-emp">0</p>
                    </div>
                    <div class="past-scans">
                        <div>Jobs scanned:</div>
                        <div class="job-list">
                            <!-- <ul>Dynamically created by JS</ul>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <script src="templates/global.js"></script>    
</body>
</html>